@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

a{
	text-decoration: none;
}

.bg{
    height: 100%;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url(https://adaeze-k.github.io/home-test/images/screen3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg .container{
    color: #111;
    font-size: 20px;
    font-family: Poppins;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container span{
    color: #FFB425;
    font-weight: 500;
}


.btn{
	padding: 10px 20px;
	font-family: Poppins;
	font-size: 20px;
	cursor: pointer;
	margin: 10px;
	transition: 0.6s;
	position: relative;
	overflow: hidden;
	border-radius: 6px;
}

.btn1, .btn2{
	color: #565656;
}
.btn1{
	border: 1px solid #4CA772;
}

.btn2{
	border: 1px solid #FFB425;
}
.btn1:hover {
	color: #fff;
	background-color: #4CA772;
}

.btn2:hover{
	color: #fff;
	background-color: #FFB425;
}
