@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
  }
  body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    padding: 30px;
  }
  .container{
    position: relative;
    max-width: 950px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    perspective: 2700px;
  }
  .container .cover{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
  }
  .container .cover::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #ffb425;
    opacity: 0.5;
    z-index: 100;
  }
  .container .cover::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #4ca772;
    opacity: 0.5;
    z-index: 100;
    transform: rotateY(180deg);
  }
  .container #flip:checked ~ .cover{
    transform: rotateY(-180deg);
  }
  .container .cover img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 12;
    backface-visibility: hidden;
  }
  .container .cover .back .backImg{
    transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  .container .cover .text{
    position: absolute;
    z-index: 111;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cover .text .text-1,
  .cover .text .text-2{
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    backface-visibility: hidden;
  }
  .cover .back .text .text-1,
  .cover .back .text .text-2{
    transform: rotateY(180deg);
  }
  .cover .text .text-2{
    font-size: 15px;
    font-weight: 500;
  }
  .container form{
    height: 100%;
    width: 100%;
    background: #fff;
  }
  .container .form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .form-content .login-form,
  .form-content .signup-form{
    width: calc(100% / 2 - 25px);
  }
  form .form-content .title{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #4ca772;
  }
  form .form-content .title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: #ffb425;
  }
  form .signup-form  .title:before{
    width: 20px;
  }

  form .form-content .input-boxes{
    margin-top: 30px;
  }
  form .form-content .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
  }
  .form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
  .form-content .input-box input:focus,
  .form-content .input-box input:valid{
    border-color: #4ca772;
  }
  .form-content .input-box i{
    position: absolute;
    color: #4ca772;
    font-size: 17px;
  }
  form .form-content .text{
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
  form .form-content .text a{
    text-decoration: none;
    color: red;
  }
  form .form-content .text a:hover{
    text-decoration: underline;
  }

  form .content{
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
  }
  form .content .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  form .content input{
    width: 15px;
    height: 15px;
    background: red;
  }
  
  form .content label{
    color: #262626;
    user-select: none;
    padding-left: 5px;
  }

  form .content label:hover{
    text-decoration: none !important;
  }
  form .form-content .button{
    color: #fff;
    margin-top: 40px;
  }
  form .form-content .button input{
    color: #fff;
    background: #4ca772;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  form .form-content .button input:hover{
    background: #ffb425;
  }
  form .form-content label{
    color: #4ca772;
    cursor: pointer;
  }
  form .form-content label:hover{
    text-decoration: underline;
  }
  form .form-content .login-text,
  form .form-content .sign-up-text{
    text-align: center;
    margin-top: 25px;
  }
  .container #flip{
    display: none;
  }


small {
  display: block;
  font-size: 15px;
  padding-top: 6px;
  color: gray;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 58px auto;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 20px;
  z-index: 1;
  top: 10px;
}

.avatar-upload input {
  display: none;
}

.avatar-upload label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all .2s ease-in-out;
}

.avatar-upload label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload label:after {
  font-family: 'Font Awesome 5 Free';
  content: '\f030';
  font-weight: 600;
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-upload .avatar-preview {
  width: 180px;
  height: 180px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.avatar-preview div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #333;
    background-image: none;
  }

  /* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 8em;
  height: 2.9em;
  line-height: 3;
  background: #333;
  overflow: hidden;
  margin-right: 35px;
}

select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}

.input {outline: none; font-size: 10px; }

.input {
  padding: 10px 2px; 
  width: 60%; 
  border: none;
  outline: 2px solid #efefef;
}

.input input{
  border: none !important;
}


 .input-boxes {
  margin-bottom: 70px !important;
}

.input-boxes .merge{
  margin-bottom: 70px !important;
}
 

/*qualifications*/
textarea {
  width: 100%;
  height: 100px;
  padding: 10px 20px;
  background: rgba(188, 236, 208, 0.46);
  outline: none;
  border: none;
}


div .grade{
 margin-left: 20px;
}
div .line{
 margin-right: 20px;
}

/*rate*/
 .job{
  text-decoration: none !important;
}

#rates{
  width: 8em;
  height: 2.9em;
  margin: 20px 0 ;
  line-height: 3;
  overflow: hidden;
}

 #rates::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #565656;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
 #rates:hover::after {
  color: #f39c12;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #565656;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.rates:hover::after {
  color: #f39c12;
}

  #msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative;
}

.form-card {
  text-align: left;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

  #msform .action-button {
    width: 100px;
    background: #4ca772;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;
}
#msform .action-button:hover,
#msform .action-button:focus {
    background-color:#0EBF58;
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000;
}

.card {
  z-index: 0;
  border: none;
  position: relative;
}

.fs-title {
  font-size: 25px;
  color: gray;
  margin-bottom: 15px;
  font-weight: 500;
  text-align: left;
}



.steps {
  font-size: 15px;
  color: gray;
  margin-bottom: 5px;
  font-weight: normal;
  text-align: right;
}


#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #0EBF58;
}

#progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
  margin-top: 30px;
  padding: 5px;
}

#progressbar #account::before {
  
  content: '';
 
 
 
 
 
}

#progressbar #personal::before {
 
  content: '';
  
 
  
}

#progressbar #payment::before {
  
  content: '';
 
 
 
 
}

#progressbar #confirm::before {
  
  content: '';
 
 
 
 
}

#progressbar li::before {
  width: 30px;
  height: 30px;
  line-height: 45px;
  display: block;
  font-size: 12px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li::after {
  content: '';
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active::before,
#progressbar li.active::after {
  background: #0EBF58;
}

.progress {
  height: 20px;
}

.progress-bar {
  background-color: #4ca772;
}



.cards {
  box-shadow: 0 0 2px 1px rgba(143, 1431, 143, 0.21) !important;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 100px;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  margin-right: auto;
}

.card-header {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.card-header p {
  margin-top: 13px;
  font-size: 13px;
  color: #565656;
}

.card-header h2{
  margin-top: 13px;
  color: #ffb425;
}

.card-header i{
  font-size: 40px;
  color: #4ca772;
}
.card-body {
  padding: 50px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}




.w-100 {
  width: 100% !important; /*100 button*/
}

.cols {
  max-width: 200px; /*350*/
}

.card-footer {
  border-top: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
}

.btn {
  padding: 8px 22px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  border: none;
}

.btn-info {
  background: #4ca772;
}
.btn-info:hover {
  background: #f39c12;
}


.cards a{
  text-decoration: none;
  font-size: 13px;
  margin-bottom: 20px;
  padding: 10px !important;
  color: red;
}

.cards span{
  color: #4ca772;
}

.cards span:hover{
  text-decoration: underline;
}

.activation-code-input {
  display: none;
}

.activation-code {
  direction: ltr;
  position: relative;
}

.activation-code::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-bottom: 2px solid;
  margin-right: 8px;
  border-color: #ccc;
  transition: opacity 0.3s ease;
}

.activation-code > span {
  position: absolute;
  display: block;
  font-size: 15px;
  color: #ccc;
  top: 0;
  right: 0;
  transition: all 0.3s ease;
}

.activation-code .activation-code-inputs {
  display: flex;
  /*flex-direction: row;*/
  /*flex-wrap: nowrap;*/
  flex-flow: row nowrap;
}

.activation-code .activation-code-inputs input {
  display: flex;
  flex-flow: column nowrap;
  padding-right: 5px;
  outline: 10px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  align-items: center;
  transition: all 0.3s ease;
  border: 2px solid;
  border-color: #ccc;
  margin-right: 8px;
  /*background: red;*/
  opacity: 0;
}

.activation-code .activation-code-inputs input:last-child {
  margin-right: 0;
}

.activation-code.active::before {
  opacity: 0;
}

.activation-code.active .activation-code-inputs input {
  opacity: 1 !important;
}

.activation-code .activation-code-inputs input:focus {
  border-color: #f39c12 !important;
}


.activation-code.active > span {
  transform: translate(0, -100%);
  line-height: 30px;
  opacity: 0.6;
}
 
/*cv*/
.sr-only {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.btns {
  display: inline-block;
  padding: .5rem 1rem;
  color: #f39c12 !important;
  cursor: pointer;
  border-radius: 0;
  margin-left: 64px;
  text-decoration: none !important;
}

[type=file]:focus + .btns {
  outline: 1px solid #f39c12;
}

  @media (max-width: 730px) {
    .container .cover{
      display: none;
    }
    .form-content .login-form,
    .form-content .signup-form{
      width: 100%;
    }
    .form-content .signup-form{
      display: none;
    }
    .container #flip:checked ~ form .signup-form{
      display: block;
    }
    .container #flip:checked ~ form .login-form{
      display: none;
    }

    .btns{
      margin-left: 0px;
    }
  }
  


